{% extends "layout.html" %}
{% load i18n %}
{% load thumbnail %}
{% load modules %}

{% block head %}<link href="{{ MEDIA_URL }}css/{{ THEME }}/user.css" rel="stylesheet" type="text/css" media="screen">{% endblock %}
{% block pathway %}<div id="pathway"><ul><li><a href="/">{% trans "Home" %}</a></li><li><span>&gt;</span> <a href="{{ LOCALE_URI }}/{% trans 'catalog' %}/whistlist">{% trans "Whistlist" %}</a></li></ul></div>{% endblock %}

{% block content %}
<div id="page-wrap" class="clearfix">
    {% include 'partner/menu.html' %}

    <div id="sidebar">
        <div class="block border5">
            {% module catalog.right %}
        </div>
    </div>
    <div id="content">
        <div id="catalog-whistlist" class="block border5 clearfix">
            <table id="shopping-cart-table" class="cart-table">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th><span class="nobr">{% trans "Product Name" %}</span></th>
                    <th><span class="nobr">{% trans "Description" %}</span></th>
                    <th><span class="nobr">{% trans "Price" %}</span></th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}<tr>
                    <td><a href="{{product.product.get_absolute_url}}" title="{{ product.name }}" class="product-image"><img src="{% thumbnail product.base_image.filename 80x80 /static/images/product_zoook.png %}" width="80" height="80" alt="{{ product.name }}" /></a></td>
                    <td><h2 class="product-name"><a href="{{product.product.get_absolute_url}}">{{ product.name }}</a></h2></td>
                    <td class="a-right"><span class="cart-description"><span class="short-description">{{ product.product.shortdescription }}</span></span></td>
                    <td class="a-right">
                        <div id="product-price-{{product.product.id}}" class="price-box">
                        <span class="regular-price">
                            <span class="price">{{product.price}} {{ currency }}</span>
                        </span>
                        </div>
                    </td>
                    <td class="a-center"><a href="{{ LOCALE_URI }}/{% trans 'catalog' %}/whistlist/remove/{{product.product.slug}}" title="{% trans "Remove Item" %}" class="btn-trash">{% trans "Remove Item" %}</a></td>
                </tr>
                {% empty %}<tr><td colspan="5"><p class="note-msg">{% trans "There are any products matching the selection." %}</p></td></tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
    
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.zupdateprice.js"></script>
</div>
{% endblock %}

{% block jqueryload %}$.zUpdatePrice( {url: '{{ SITE_URI }}{{ LOCALE_URI }}/catalog/updateprice/', 'delayUpdater': 1000, 'textAlert' : '{% trans "Price updating..." %}'} ){% endblock %}
